body{
    h1{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h6{
        text-align: center;
        padding-top: -1em;
        text-align: center; 
        

        

    }
    #contact{
        text-align: right;
    }
}